
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="background-color: #D1F2EB ; overflow:auto;">
<div class="container">
  <br><br>
  <div class="col-6" style="margin-top: 100px">
<div class="jumbotron" style="margin-top: 160px; margin-bottom: 160px; padding-top: 2rem; background-color: #EBF3FF; color: black;">

<h2 align='center'>We have shared email to Your regestered Email ID</h2><br>
<br>
<br>

</div>
</div>
</div>
</div>
{% endblock %}
