{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="background-color: #D1F2EB; overflow:auto;">
<div class="container">
  <br><br>

  <div class="col-6" style="margin-top: 100px">
    <h2>SignUp for a free Account</h2>
<div class="jumbotron" style="padding-top: 2rem; background-color: #EBF3FF; color: black;">

  <p class="lead">Select below the type of account you want to create</p>
      <a href="{% url 'younger_signup' %}" class="btn btn-lg" role="button">Sign Up As Younger</a>
      <a href="{% url 'elder_signup' %}" class="btn btn-lg" role="button">Sign Up As Elder</a>




</div>
</div>
</div>
</div>
{% endblock %}
