{% extends 'sidebar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block sidebar %}
    <div>
        <div class="container">
            <div class="row" style="margin-top: 10px;margin-right: 0px;margin-left: 0px;">
                <div class="col-6" style="margin-left: auto;padding-right: 5px;">
                    <!-- <h1 class="text-center">Sign up as a {{ user_type|capfirst }}</h1> -->
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-10 col-12">

                            <h2 style="text-align:center;">Thank You for contacting us. Our team will reach you out soon...</h2>
                        </div>
                    </div><br><br>
                    <a  href="{% url 'dashboard' %}"><button class="btn btn-primary" >Back to Dashboard</button></a>
                </div>
                <div class="col-5" style="margin-left: 0px;padding-right: 0px;padding-left: 0px;"><img class="img-fluid" src="{% static 'img/eefd4d45c0cd9dd7f3d86b4b49e7fc72.png' %}" style="width: 500px;"></div>
            </div>
        </div>
    </div>
{% endblock %}
