<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'css/ebs-contact-form-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/ebs-contact-form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>KareMe</title>
  </head>
<body>
  <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <a href="{% url 'index' %}">
                <div class="sidebar-header">
                    <h3>KareMe</h3>
                    <strong>KM</strong>
                </div></a>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="{% url 'dashboard' %}" aria-expanded="false">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'profile' user.id %}">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            My Profile
                        </a>
                        <a href="{% url 'addfund' %}">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            Wallet
                        </a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            Settings
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="{% url 'profile-update' %}">Edit Profile</a></li>
                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{% url 'history' user.id %}">
                            <i class="glyphicon glyphicon-paperclip"></i>
                            Payment History
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contacts' %}">
                            <i class="glyphicon glyphicon-send"></i>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Touch Me...</span>
                </button>

                <a type="button" class="btn btn-info navbar-btn " href="{% url 'logout' %}" style="margin-left:860px;" >Logout</a>

                {% block sidebar %}
                {% endblock %}


            </div>
        </div>
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>

         <script src="{% static 'js/main.js' %} "></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      </body>
    </html>
